.form-group.required .control-label:after {
    content: "*";
    color: red;
}

.form-group .form-control.error {
    border: 1px solid red !important;
}

.form-group .form-select.error {
    border: 1px solid red !important;
}